*

frontend/*
!frontend/package*.json
!frontend/tsconfig.json
!frontend/src
!frontend/index.html
!frontend/vite.config.ts
!frontend/.eslintrc.cjs

backend/*
!backend/package*.json
!backend/tsconfig*.json
!backend/src
!backend/db_migrations
!backend/.eslintrc.cjs
!backend/types
!backend/resources

shared/*
!shared/src
!shared/package*.json
!shared/tsconfig.json
