{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": ["^@backend/(.*)$", "^@frontend/(.*)$", "^@shared/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@prettier/plugin-xml"]
}
